.subul {
    display: flex;
    margin: 30px 0px;
    font-size: 21px;
    text-decoration: none;
}

.subul>div>a {
    text-decoration: none;
}

#show_product,
#update_product,
#create_product {
    margin-left: 20px;
    border: 3px solid transparent;
}

#show_product:hover,
#update_product:hover,
#create_product :hover{
  
    border-bottom: 3px solid black;
}
#show_product:active,
#update_product:active,
#create_product :active{
  
    border: 3px dotted black;
}
