.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text {
    margin-top: 20px;
    width: 350px;
    height: 30px;
    font-size: 18px;
}

#submit {
    margin-top: 20px;
    width: 54px;
    height: 39px;
    font-size: 21px;
    padding: 2px;
}

#error {
    font-size: 30px;
    color: red;
    text-align: center;
    margin-top: 10px;
}

.item_block {
    width: 600px;
    height: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    border-radius: 9px;
    margin-bottom: 57px;
}

#item {
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 0%;
}

#item_type_text,
#item_name_text,
#item_mrp_text,
#item_quantity_text,
#item_manufacturedate_text,
#item_expiredate_text,
#item_img_text {
    font-size: 24px;
    /* padding: 20px; */
    /* margin-bottom: 200px; */

}

.item_block>div {
    margin-bottom: 15px;
}

#item_type,
#item_name,
#item_mrp,
#item_quantity,
#manufacture_date,
#expire_date,
#item_img {
    display: flex;
    font-size: 24px;
    width: 400px;
    /* margin-left: 20px; */
}

#update_submit {
    font-size: 27px;

}

.item_update_btn {
    margin: auto;
}

#item_img {
    border: 1px solid black;
}